header{padding:100px 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3265ff+1,cc0cfc+100 */
  background-image: url("https://getwallpapers.com/wallpaper/full/c/1/5/492851.jpg");/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
text-align: center;
color: #f8f9fa;

}
body{background-image: url('https://catherineasquithgallery.com/uploads/posts/2023-01/1674373459_catherineasquithgallery-com-p-fon-svetlo-serii-serii-foto-16.jpg');
margin: 0 auto; /*центрируем и убираем отступы*/
padding:0 300px;}
background: linear-gradient(to right,  rgba(50,101,255,1) 1%,rgba(204,12,252,1) 100%);
